@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";

.app {
	font: var(--font-m);

	background: var(--bg-color);
	color: var(--primary-color);

	padding: var(--padding-default);
	
	min-height: 100vh;
}

@font-face {
	font-family: 'GTEestiPro';
	src: url('./fonts/GTEestiProDisplay-Regular.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'GTEestiPro';
	src: url('./fonts/GTEestiProDisplay-Medium.woff') format('woff');
	font-weight: 500;
}

@font-face {
	font-family: 'GTEestiPro';
	src: url('./fonts/GTEestiProDisplay-Bold.woff') format('woff');
	font-weight: 600;
}

@font-face {
	font-family: 'GTEestiPro';
	src: url('./fonts/GTEestiProDisplay-UltraBold.woff') format('woff');
	font-weight: 700;
}

@font-face {
	font-family: 'GTEestiPro';
	src: url('./fonts/GTEestiProDisplay-UltraBold.woff') format('woff');
	font-weight: 800;
}

